<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <aside class="col-2 bg-primary">
            <h2>Aside Header</h2>
            <img src="assets/iti-logo.png" alt="iti" width="100px" height="150px">
            <p>Paragraph</p>
            <p>Paragraph</p>
            <p>Paragraph</p>
            <p>Paragraph</p>
            <p>Paragraph</p>
            <p>Paragraph</p>
            <p>Paragraph <a href="url">Inline Link</a></p>
        </aside>
        <!-- <app-home class="col-10"></app-home> -->
        <app-prodcuts class="col-10"> </app-prodcuts>
    </div>
</div>
<app-footer></app-footer>